html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #192644;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
.container {
  width: 600px;
  margin: 40px auto;
 background: rgba(255, 255, 255, 0.1);;
  border: none;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: snow;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
button {
  padding: 8px;
  background: skyblue;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
h1{
  color: white;
  margin-bottom: 0.5rem;
}
